@model vhrm.FrameWork.Entity.EmployeeMaster
@using vhrm.ViewModels
@using Kendo.Mvc.UI.Fluent

@*@using (Html.BeginForm("SaveEmployee", "Staff", FormMethod.Post, new { id="frmEmployee", @class = "form-horizontal", style = "margin-right:10px;" }))
    {*@
@*@Html.AntiForgeryToken()*@
<div class="box-body" id="boxbodyEdit">
    <div class="form-group" style="margin-left: 10px">
        @*</div> action="SaveEmployee" method='POST'>*@
        <fieldset class="scheduler-border">
            <legend style="width: inherit; padding:0 10px; border-bottom: none">Basic Info edit</legend>
            <div class="row">
                <div class="col-md-3">
                    <div class="img_section" id="emp_image" style="margin-left:20px;">
                        <div class="img_emp" style="text-align: center;">
                            <div class="img_emp_content" id="img_emp_content">
                                @Html.HiddenFor(model => model.IMAGE)
                                @*<img src="@Url.Content(Model.IMAGE + "?" + (new Random()).Next(0,100))" id="imageShort" style="width:100%; height: 100%" />*@
                                @Html.HiddenFor(model => model.IMAGE)
                                @if (Model == null)
                                {
                                    <img src="/FileServer/Photos/default.jpg" id="imageShort" style="width:100%; height: 100%">
                                }
                                else
                                {
                                    <img src="@Url.Content(Model.IMAGE + "?" + (new Random()).Next(0,100))" id="imageShort" style="width:100%; height: 100%" />
                                }
                            </div>
                            <input type="button" class="btn btn-primary btn-sm btn-fixed-width" value="Upload" onclick="clickUpload()">
                            <span class="field-validation-valid text-danger" data="EMPNAME" data-valmsg-for="sizeofimage" data-valmsg-replace="true"></span>
                        </div>
                        <div style="width:200px; height: 70px; display: none">
                            <div class="k-widget k-upload k-header k-upload-empty"><div class="k-dropzone"><div class="k-button k-upload-button" aria-label="Select files..."><input id="imgUpload" name="imgUpload" type="file" data-role="upload" multiple="multiple" autocomplete="off"><span>Select files...</span></div><em>Drop files here to upload</em></div></div>
                            <script>
                                kendo.syncReady(function () {
                                    jQuery("#imgUpload").kendoUpload(
                                        {
                                            "success": onUploadImageSuccess,
                                            "showFileList": false,
                                            "dropZone": ".img_emp",
                                            "async":
                                            {
                                                "saveUrl": "/Staff/Async_Upload_Image",
                                                "autoUpload": true
                                            },
                                            upload: function (e) {
                                                e.data = { empId: $("#EMPID").val() };
                                            }
                                        });
                                });
                                function onUploadImageSuccess(e, args) {
                                    let res = e.response;
                                    if (res.img_url != 'size') {
                                        $("#imageShort").attr("src", res.img_url + "?" + Math.random());
                                        $("span[data-valmsg-for=sizeofimage]").text("");
                                        var diagram = $("#diagram").data("kendoDiagram");
                                        diagram.dataSource.read({ empId: $("#EMPID").val() });
                                    }
                                    else
                                        $("span[data-valmsg-for=sizeofimage]").text("Please upload image has maximun size <= 50 KB");
                                }
                            </script>
                        </div>
                        <script>
                            function clickUpload() {
                                document.getElementById("imgUpload").click();
                            }
                        </script>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="box-body vhrm_employee_basic">
                        <div class="form-group">
                            <div class="row">
                                @Html.LabelFor(model => model.EMPID, new { @class = "col-md-5 col-form-label-sm", style = "text-align: right;" })
                                <div class="col-md-7">
                                    <input type="text" value="@{if (Model != null) {@Model.EMPID; } }" id="EMPID" style="width:100%; height: 30px; font-size: smaller" class="form-control form-control-sm" disabled="disabled" />
                                    @Html.HiddenFor(model => model.SYS_EMPID)
                                    @Html.HiddenFor(model => model.EMPID, new { @id = "hfEMPID" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                @Html.LabelFor(model => model.EMPNAME, new { @class = "col-md-5 col-form-label-sm", style = "text-align: right;" })
                                <div class="col-md-7">
                                    @Html.TextBoxFor(model => model.EMPNAME, new { style = "width:100%; height: 30px; font-size: smaller", @class = "form-control-sm", @disabled = "disabled" })
                                    @Html.ValidationMessageFor(model => model.EMPNAME, "", new { data = "EMPNAME", @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <label class="col-md-5 col-form-label-sm" style="text-align: right;">Major Register</label>
                                <div class="col-md-7">
                                    <input type="text" disabled="disabled" class="form-control form-control-sm" style="width:100%; height: 30px; font-size: smaller" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                @Html.LabelFor(model => model.GENDER, new { @class = "col-md-5 col-form-label-sm", style = "text-align: right;" })
                                <div class="col-sm-7">
                                    @Html.DropDownListFor(model => model.GENDER, ViewBag.Gender as SelectList, new { style = "width:100%; height: 30px; font-size: smaller", @class = "form-control form-control-sm", @disabled = "disabled" })
                                    @Html.ValidationMessageFor(model => model.GENDER)
                                </div>
                            </div>
                        </div>
                        <div class="form-group" style="margin-top: -5px;">
                            <div class="row">
                                @Html.LabelFor(model => model.BIRTHDATE, new { @class = "col-md-5 col-form-label-sm", style = "text-align: right;" })
                                <div class="col-sm-7">
                                    <div class="input-group" style="width:100%;">
                                        @(Html.Kendo().DatePickerFor(model => model.BIRTHDATE).HtmlAttributes(new { @disabled = "disabled", @class = "form-control" }))
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" style="margin-top: -5px;">
                            <div class="row">
                                @Html.LabelFor(model => model.IDENTITYCARD, new { @class = "col-md-5 col-form-label-sm", style = "text-align: right;" })
                                <div class="col-sm-7">
                                    @Html.TextBoxFor(model => model.IDENTITYCARD, "", new { style = "width:100%; height: 30px; font-size: smaller", @disabled = "disabled", @class = "form-control form-control-sm" })
                                    @Html.ValidationMessageFor(model => model.IDENTITYCARD, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group" style="margin-top: -5px;">
                            <div class="row">
                                @Html.LabelFor(model => model.DATEJOIN, new { @class = "col-md-5 col-form-label-sm", style = "text-align: right;" })
                                <div class="col-sm-7">
                                    <div class="input-group" style="width:100%;">
                                        @(Html.Kendo().DatePickerFor(model => model.DATEJOIN).HtmlAttributes(new { @class = "form-control", @disabled = "disabled" }))
                                        @*@Html.EditorFor(model => model.DATEJOIN, "", new { style = "width:100%; height: 30px; font-size: smaller", @class = "form-control form-control-sm", @type = "date" })*@
                                        @Html.ValidationMessageFor(model => model.DATEJOIN, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" style="margin-top: -5px;">
                            <div class="row">
                                @Html.LabelFor(model => model.ACADEMIC, new { @class = "col-md-5 col-form-label-sm", style = "text-align: right;" })
                                <div class="col-sm-7">
                                    @Html.DropDownListFor(model => model.ACADEMIC, ViewBag.Academics as SelectList, new { style = "width:100%; height: 30px; font-size: smaller", @class = "form-control form-control-sm", @disabled = "disabled" })
                                    @Html.ValidationMessageFor(model => model.ACADEMIC)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>

    </div>
    <div style="margin-left:10px;">
        <fieldset class="scheduler-border">
            <legend style="width: inherit; padding:0 10px; border-bottom: none">VHRM Info</legend>
            <div class="form-group" style="margin-top: -5px; display:none">
                <div class="row">
                    <label class="col-md-5 col-form-label-sm" style="text-align: right;">Major Selection</label>
                    <div class="col-sm-7">
                        <input type="text" disabled="disabled" class="form-control form-control-sm" style="width:100%; height: 30px; font-size: smaller" />
                    </div>
                </div>
            </div>
            <div class="form-group" style="margin-top: -5px; display:none">
                <div class="row">
                    @Html.LabelFor(model => model.NATIONALITY, new { @class = "col-md-5 col-form-label-sm", style = "text-align: right;" })
                    <div class="col-sm-7">
                        @Html.DropDownListFor(model => model.NATIONALITY, ViewBag.Countries as SelectList, new { style = "width:100%; height: 30px; font-size: smaller", @class = "form-control form-control-sm", @disabled = "disabled" })
                        @Html.ValidationMessageFor(model => model.NATIONALITY)
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    @Html.LabelFor(model => model.DISPLAYDEPTCODE, new { @class = "col-md-5 col-form-label-sm", style = "text-align: right;" })
                    <div class="col-sm-7">
                        <div class="input-group">
                            @Html.TextBoxFor(model => model.DISPLAYDEPTCODE, "", new { style = "width: calc(100% - 50px);float: left;margin-right: 10px; height: 30px; font-size: smaller", @class = "form-control form-control-sm", @disabled = "disabled" })
                            @Html.HiddenFor(model => model.DEPTCODE)
                            <div class="input-group-btn">
                                <button type="button" disabled="disabled" id="showDeptCode" class="btn btn-default btn-sm btnOpacity"><i class="fa fa-indent" aria-hidden="true"></i></button>
                            </div>
                        </div>
                        @Html.ValidationMessageFor(model => model.DEPTCODE, "", new { @class = "text-danger" })
                        <div id="showOrganization">
                            <div class="demo-section k-content" id="employeeOfOrg">
                                @(Html.Kendo().DropDownTree()
                                                                            .Name("treeemployeeOfOrg")
                                                                            .DataTextField("DEPTNAME")
                                                                            .HtmlAttributes(new { style = "width: 100%" })
                                                                            .DataValueField("DEPTCODE")
                                                                            .DataSource(dataSource => dataSource
                                                                            .Model(m => m
                                                                                        .Id("DEPTCODE")
                                                                                        )//.Children("DeptViewModels")
                                                                                .Read(read => read
                                                                                    .Action("getGeOrganizations", "GeoOrganization")
                                                                                )
                                                                            ).Filter("contains")
                                                                            .Events(events => events
                                                                                    .Change("onChangedtreeemployeeOfOrg")
                                                                                    .Select("onSelectdtreeemployeeOfOrg")
                                                                            ).Value("000000")
                                )
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group" style="margin-top: -5px;">
                <div class="row">
                    <label for="" class="col-sm-5 col-form-label-sm" style="text-align: right;">Geographical Org</label>
                    <div class="col-sm-7">
                        <div class="input-group" style="width:100%;">
                            @Html.HiddenFor(model => model.GEOGRAPHICALORG)
                            @Html.TextBoxFor(model => model.DISPLAYGEOGRAPHICALORG, "", new { style = "width: calc(100% - px);float: left;margin-right: 10px; height: 30px; font-size: smaller", @class = "form-control form-control-sm", @disabled = "disabled" })
                            <div class="input-group-btn">
                                <button type="button" disabled="disabled" id="btnShowGeoOrganizationReport" class="btn btn-default btn-sm btnOpacity"> <i class="fa fa-indent" aria-hidden="true"></i></button>
                            </div>
                            <div id="showGeoReport" style="width: 100%;">
                                <div class="demo-section k-content">
                                    @(Html.Kendo().DropDownTree()
                                                                .Name("DeptGeo")
                                                                .DataTextField("DEPTNAME")
                                                                .HtmlAttributes(new { style = "width: 100%" })
                                                                .DataValueField("DEPTCODE")
                                                                .DataSource(dataSource => dataSource
                                                                .Model(m => m
                                                                            .Id("DEPTCODE")
                                                                            )//.Children("DeptViewModels")
                                                                    .Read(read => read
                                                                        .Action("getGeOrganizations", "GeoOrganization")
                                                                    )
                                                                ).Filter("contains")
                                                                .Events(events => events
                                                                            .Select("onSelectdDeptGeo")
                                                                    ).Value("000000")
                                    )
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group" style="margin-top: -5px;">
                <div class="row">
                    <label for="" class="col-sm-5 col-form-label-sm" style="text-align: right;">Geo. Direct Report</label>
                    <div class="col-sm-7">
                        @Html.HiddenFor(model => model.GEODIRECTREPORT)
                        <div class="row">
                            <div class="col-md-4">
                                <div class="" style="width:100%;">
                                    @Html.TextBoxFor(model => model.GEOEMPIDREPORT, "", new { @ondblclick = "openGeoSearchEmployee()", @class = "form-control form-control-sm", style = "height: 30px; font - size: smaller; width: 95px; margin - right:5px; background:#007bff38", @disabled = "disabled" })
                                    @*<input ondblclick="openGeoSearchEmployee()" id="GEODIRECTSYSIDREPORT_Code" name="GEODIRECTSYSIDREPORT_Code" type="text" value="" class="form-control" style="height: 30px; font-size: smaller;width: 95px; margin-right:5px;background:#007bff38" />*@
                                    @*<input ondblclick="openSearchFunctEMP()" id="GEODIRECTSYSIDREPORT_Code" name="GEODIRECTSYSIDREPORT_Code" type="text" value="@Model.GEOEMPIDREPORT" class="form-control form-control-sm" style="height: 30px; font-size: smaller;width: 95px; margin-right:5px;background:#007bff38" />*@
                                </div>
                            </div>
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.DISPLAYGEODIRECTREPORT, "", new { style = "width:100%; height: 30px; font-size: smaller", @class = "form-control form-control-sm", @disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group" style="margin-top: -5px;">
                <div class="row">
                    <label for="" class="col-sm-5 col-form-label-sm" style="text-align: right;">Functional Org</label>
                    <div class="col-sm-7">
                        <div class="input-group" style="width:100%;">
                            @Html.HiddenFor(model => model.FUNCTIONALORG)
                            @Html.HiddenFor(model => model.DISPLAYFUNCDIRECTREPORTNAME)
                            @Html.TextBoxFor(model => model.DISPLAYFUNCTIONALORG, "", new { style = "width: calc(100% - px);float: left;margin-right: 10px;height: 30px; font-size: smaller", @class = "form-control form-control-sm", @disabled = "disabled" })
                            <div class="input-group-btn">
                                <button type="button" disabled="disabled" id="btnShowFunctionDirectReport" class="btn btn-default btn-sm btnOpacity"> <i class="fa fa-indent" aria-hidden="true"></i></button>
                            </div>
                            <div id="showFunctionReport" style="width: 100%;">
                                <div class="demo-section k-content">
                                    @(Html.Kendo().DropDownTree()
                                                                      .Name("treeFunctReport")
                                                                      .DataTextField("FUNCNAME")
                                                                      .HtmlAttributes(new { style = "width: 100%" })
                                                                      .DataValueField("FUNCCODE")
                                                                      .DataSource(dataSource => dataSource
                                                                      .Model(m => m
                                                                                  .Id("FUNCCODE")
                                                                                  )
                                                                          .Read(read => read
                                                                              .Action("getFunctions", "DeptFunction")
                                                                          )
                                                                      ).Filter("contains")
                                                                      .Events(events => events
                                                                              .Select("onSelectdtreeFunctReport")
                                                                      ).Value("000000")
                                    )
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group" style="margin-top: -5px;">
                <div class="row">
                    <label for="" class="col-md-5 col-form-label-sm" style="text-align: right;">Func. Direct Report</label>
                    <div class="col-md-7">
                        @Html.HiddenFor(model => model.FUNCDIRECTREPORT)
                        <div class="row">
                            <div class="col-md-4">
                                <div class="" style="width:100%;">
                                    @Html.TextBoxFor(model => model.FUNEMPIDREPORT, "", new { @ondblclick = "openFunctionSearchEmployee()", @class = "form-control form-control-sm", style = "height: 30px; font - size: smaller; width: 95px; margin - right:5px; background:#007bff38", @disabled = "disabled" })
                                    @*<input ondblclick="openFunctionSearchEmployee()" id="FUNCDIRECTSYSIDREPORT_Code" name="FUNCDIRECTSYSIDREPORT_Code" type="text" value="" class="form-control " style="height: 30px; font-size: smaller;width: 95px; margin-right:5px; background:#007bff38">*@
                                    @*<input id="FUNCDIRECTSYSIDREPORT_Code" name="FUNCDIRECTSYSIDREPORT_Code" type="text" value="@Model.FUNEMPIDREPORT" class="form-control form-control-sm" style="height: 30px; font-size: smaller;width: 95px; margin-right:5px; background:#007bff38">*@
                                </div>
                            </div>
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.DISPLAYFUNCDIRECTREPORT, "", new { style = "width:100%; height: 30px; font-size: smaller", @class = "form-control form-control-sm", @disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group" style="margin-top: -5px; display:none">
            </div>
        </fieldset>

    </div>
    <div style="margin-left:10px;">
        <fieldset class="scheduler-border">
            <legend style="width: inherit; padding:0 10px; border-bottom: none">Skill Info</legend>
            <div class="em-info-block">
                <div class="form-group">
                    <div class="row">
                        @Html.LabelFor(model => model.POSITION, new { @class = "col-md-5 title-em-info" })
                        <div class="col-md-7">
                            @Html.DropDownListFor(model => model.POSITION, ViewBag.Positions as SelectList, new { disabled = "disabled", @readonly = "readonly", style = "width:100%; height: 30px; font-size: smaller; disable:true", @class = "form-em-info" })
                            @Html.ValidationMessageFor(model => model.POSITION)
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        @Html.LabelFor(model => model.SKILL, new { @class = "col-md-5 title-em-info" })
                        <div class="col-md-7">
                            @Html.DropDownListFor(model => model.SKILL, ViewBag.Skills as SelectList, new { disabled = "disabled", @readonly = "readonly", style = "width:100%; height: 30px; font-size: smaller", @class = "form-em-info" })
                            @Html.ValidationMessageFor(model => model.SKILL)
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label class="col-md-5 title-em-info">Skill Level</label>
                        <div class="col-md-7">
                            <input type="text" class="form-em-info" disabled="disabled" style="width:100%; height: 30px; font-size: smaller" />
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
</div>
@*}*@
<script>
    var tab;
   
    $(document).ready(function () {
        $('#showOrganization').toggle();
        $(".region #showDeptCode").on("click", function () {
            $(".demo-section k-content").addClass("expandWidth");
            $('#showOrganization').toggle();
        });

        $('#showGeoReport').toggle();
        $(".region #btnShowGeoOrganizationReport").on("click", function () {
            $(".demo-section k-content").addClass("expandWidth");
            $('#showGeoReport').toggle();
        });


        $('#showFunctionReport').toggle();
        $(".region #btnShowFunctionDirectReport").on("click", function () {
            $(".demo-section k-content").addClass("expandWidth");
            $('#showFunctionReport').toggle();
        });

        $('#EMPNAME').prop("disabled", "disabled");
        $('#GENDER').prop('disabled', 'disabled');
        $('#BIRTHDATE').prop('disabled', 'disabled');
        $('#NATIONALITY').prop('disabled', 'disabled');
        $('#IDENTITYCARD').prop('disabled', 'disabled');
        $('#DATEJOIN').prop('disabled', 'disabled');
        $('#ACADEMIC').prop('disabled', 'disabled');
        $('#POSITION').prop('disabled', 'disabled');
        $('#SKILL').prop('disabled', 'disabled');
    });

    
</script>
