@model vhrm.FrameWork.Entity.EmployeeMaster
@using vhrm.ViewModels
@using Kendo.Mvc.UI.Fluent
@*@using (Html.BeginForm("SaveEmployee", "Staff", FormMethod.Post, new { @class = "form-horizontal",id= "frmEmployee", style = "margin-right:10px;" }))
    {
        @Html.AntiForgeryToken();*@
@*@Html.AntiForgeryToken()*@
<div class="box-body" id="boxbodyNew">
    <div class="form-group" style="margin-left: 10px" action="SaveEmployee" method='POST'>
        <fieldset class="scheduler-border">
            <legend style="width: inherit; padding:0 10px; border-bottom: none">Basic Info</legend>
            <div class="row">
                <div class="col-md-3">
                    <div class="img_section" id="emp_image">
                        <div class="img_emp" style="text-align: center;">
                            <div class="img_emp_content">
                                @Html.HiddenFor(model => model.IMAGE)
                                <img src="/FileServer/Photos/default.jpg" id="imageShort" style="width:100%; height: 100%">
                            </div>
                            <input type="button" class="btn btn-sm btn-fixed-width" style="width:100%;background: #124461de;color: #fff; " value="Upload" onclick="clickUpload()">
                        </div>
                        <div style="width:200px; height: 70px; display: none">
                            <div class="k-widget k-upload k-header k-upload-empty"><div class="k-dropzone"><div class="k-button k-upload-button" aria-label="Select files..."><input id="imgUpload" name="imgUpload" type="file" data-role="upload" multiple="multiple" autocomplete="off"><span>Select files...</span></div><em>Drop files here to upload</em></div></div>
                            <script>
                                kendo.syncReady(function () { jQuery("#imgUpload").kendoUpload({ "success": onUploadImageSuccess, "showFileList": false, "dropZone": ".img_emp", "async": { "saveUrl": "/Staff/Async_Upload_Image", "autoUpload": true } }); });
                            </script>
                        </div>
                        <script>
                            function clickUpload() {
                                document.getElementById("imgUpload").click();
                            }
                        </script>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="box-body em-info-block">
                        <div class="form-group">
                            <div class="row">
                                @Html.LabelFor(model => model.EMPID, new { @class = "col-md-5 title-em-info" })
                                <div class="col-md-7">
                                    @Html.TextBoxFor(model => model.EMPID, "", new { @class = "form-em-info", @disabled = "disabled" })
                                    @Html.HiddenFor(model => model.SYS_EMPID)     @*---hieuht add*@  
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                @Html.LabelFor(model => model.EMPNAME, new { @class = "col-md-5 title-em-info" })
                                <div class="col-md-7">
                                    @Html.TextBoxFor(model => model.EMPNAME, new { @class = "form-em-info" })
                                    @Html.ValidationMessageFor(model => model.EMPNAME, "", new { data = "EMPNAME", @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <label class="col-md-5 title-em-info" style="text-align: right;">Major Register</label>
                                <div class="col-md-7">
                                    <input id="MAJORREGISTER" type="text" class="form-em-info" style="width:100%; height: 30px; font-size: smaller" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                @Html.LabelFor(model => model.GENDER, new { @class = "col-md-5 title-em-info" })
                                <div class="col-sm-7">
                                    @Html.DropDownListFor(model => model.GENDER, ViewBag.Gender as SelectList, new { @class = "form-em-info" })
                                    @Html.ValidationMessageFor(model => model.GENDER)
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                @Html.LabelFor(model => model.BIRTHDATE, new { @class = "col-md-5 title-em-info" })
                                <div class="col-sm-7">
                                    <div class="input-group" style="width:100%;">
                                        @(Html.Kendo().DatePickerFor(model => model.BIRTHDATE).HtmlAttributes(new { @class = "form-em-date " }))
                                        @*@Html.EditorFor(model => model.BIRTHDATE, "dd-MM-yyyy", new { style = "width:100%; height: 30px; font-size: smaller", @class = "form-control form-control-sm", @type = "date" })*@
                                        @*@Html.ValidationMessageFor(model => model.BIRTHDATE)*@
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                @Html.LabelFor(model => model.IDENTITYCARD, new { @class = "col-md-5 title-em-info" })
                                <div class="col-sm-7">
                                    @Html.TextBoxFor(model => model.IDENTITYCARD, "", new { @class = "form-em-info" })
                                    @Html.ValidationMessageFor(model => model.IDENTITYCARD, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                @Html.LabelFor(model => model.DATEJOIN, new { @class = "col-md-5 title-em-info" })
                                <div class="col-sm-7">
                                    <div class="input-group " style="width:100%;">
                                        @(Html.Kendo().DatePickerFor(model => model.DATEJOIN).HtmlAttributes(new { @class = "form-em-date " }))
                                        @*@Html.EditorFor(model => model.DATEJOIN, "dd-MM-yyyy", new { style = "width:100%; height: 30px; font-size: smaller", @class = "form-control form-control-sm", @type = "date" })*@
                                        @Html.ValidationMessageFor(model => model.DATEJOIN, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                @Html.LabelFor(model => model.ACADEMIC, new { @class = "col-md-5 title-em-info" })
                                <div class="col-sm-7">
                                    @Html.DropDownListFor(model => model.ACADEMIC, ViewBag.Academics as SelectList, new { @class = "form-em-info" })
                                    @Html.ValidationMessageFor(model => model.ACADEMIC)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>

    </div>
    <div style="margin-left:10px;">
        <fieldset class="scheduler-border">
            <legend style="width: inherit; padding:0 10px; border-bottom: none">VHRM Info</legend>
            <div class="em-info-block">
                <div class="form-group">
                    <div class="row">
                        <label class="col-md-5 title-em-info">Major Selection</label>
                        <div class="col-md-7">
                            <input id="MAJORSELECTION" type="text" class="form-control form-control-sm" style="width:100%; height: 30px; font-size: smaller" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        @Html.LabelFor(model => model.NATIONALITY, new { @class = "col-md-5 title-em-info" })
                        <div class="col-md-7">
                            @Html.DropDownListFor(model => model.NATIONALITY, ViewBag.Countries as SelectList, new { @class = "form-em-info" })
                            @Html.ValidationMessageFor(model => model.NATIONALITY)
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        @Html.LabelFor(model => model.DISPLAYDEPTCODE, new { @class = "col-sm-5  title-em-info" })
                        <div class="col-sm-7">
                            <div class="input-group form-em-select">
                                @Html.TextBoxFor(model => model.DISPLAYDEPTCODE, "", new { @class = "form-em-select ", @disabled = "disabled" })
                                @Html.HiddenFor(model => model.DEPTCODE)
                                <div class="input-group-btn">
                                    <button type="button" id="showDeptCode" class="btn btn-default btn-sm btnOpacity"><i class="fa fa-caret-square-o-down" aria-hidden="true"></i></button>
                                </div>
                            </div>
                            @Html.ValidationMessageFor(model => model.DEPTCODE, "", new { @class = "text-danger" })
                            <div id="showOrganization">
                                <div class="demo-section k-content" id="employeeOfOrg">
                                    @(Html.Kendo().DropDownTree()
                                                        .Name("treeemployeeOfOrg")
                                                        .DataTextField("DEPTNAME")
                                                        .HtmlAttributes(new { style = "width: 100%" })
                                                        .DataValueField("DEPTCODE")
                                                        .DataSource(dataSource => dataSource
                                                        .Model(m => m
                                                                    .Id("DEPTCODE")
                                                                    )//.Children("DeptViewModels")
                                                            .Read(read => read
                                                                .Action("getGeOrganizations", "GeoOrganization")
                                                            )
                                                        ).Filter("contains")
                                                        .Events(events => events
                                                                    .Change("onChangedtreeemployeeOfOrg")
                                                                    .Select("onSelectdtreeemployeeOfOrg")
                                                            ).Value("000000")
                                    )
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label for="" class="col-sm-5 title-em-info">Geographical Org</label>
                        <div class="col-sm-7">
                            <div class="input-group form-em-select">
                                @Html.HiddenFor(model => model.GEOGRAPHICALORG)
                                @Html.HiddenFor(model => model.DISPLAYGEODIRECTREPORTNAME)
                                @Html.TextBoxFor(model => model.DISPLAYGEOGRAPHICALORG, "", new { @class = "form-em-select", @disabled = "disabled" })
                                <div class="input-group-btn">
                                    <button type="button" id="btnShowGeoOrganizationReport" class="btn btn-default btn-sm btnOpacity"> <i class="fa fa-indent" aria-hidden="true"></i></button>
                                </div>
                                <div id="showGeoReport" style="width: 100%;">
                                    <div class="demo-section k-content">
                                        @(Html.Kendo().DropDownTree()
                                                        .Name("DeptGeo")
                                                        .DataTextField("DEPTNAME")
                                                        .HtmlAttributes(new { style = "width: 100%" })
                                                        .DataValueField("DEPTCODE")
                                                        .DataSource(dataSource => dataSource
                                                        .Model(m => m
                                                                    .Id("DEPTCODE")
                                                                    )//.Children("DeptViewModels")
                                                            .Read(read => read
                                                                .Action("getGeOrganizations", "GeoOrganization")
                                                            )
                                                        ).Filter("contains")
                                                        .Events(events => events                                                                    
                                                                    .Select("onSelectdDeptGeo")
                                                            ).Value("000000")
                                        )
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label for="" class="col-sm-5  title-em-info">Geo. Direct Report</label>
                        <div class="col-sm-7">
                            <div class="form-em-col">
                                @*@Html.HiddenFor(model => model.GEODIRECTREPORT)*@
                                <div class="row">
                                    <div class="col-md-4" style="">
                                        @* HIEUHT EDITED autocomplete *@
                                        <div class="" style="width:100%;">
                                            @Html.TextBoxFor(model => model.GEODIRECTREPORT, "", new { @ondblclick = "openGeoSearchEmployee()", @class = "form-control form-control-sm", style = "height: 30px; font - size: smaller; width: 95px; margin - right:5px; background:#007bff38" })
                                            @*<input ondblclick="openGeoSearchEmployee()" id="GEODIRECTSYSIDREPORT_Code" name="GEODIRECTSYSIDREPORT_Code" type="text" value="" class="form-control" style="height: 30px; font-size: smaller;width: 95px; margin-right:5px;background:#007bff38" />*@
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(model => model.DISPLAYGEODIRECTREPORT, "", new { @class = "form-control form-control-sm", @disabled = "disabled" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label for="" class="col-sm-5 title-em-info">Functional Org</label>
                        <div class="col-sm-7">
                            <div class="input-group form-em-select">
                                @Html.HiddenFor(model => model.FUNCTIONALORG)
                                @Html.HiddenFor(model => model.DISPLAYFUNCDIRECTREPORTNAME)
                                @Html.TextBoxFor(model => model.DISPLAYFUNCTIONALORG, "", new { @disabled = "disabled" })
                                <div class="input-group-btn">
                                    <button type="button" id="btnShowFunctionDirectReport" class="btn btn-default btn-sm btnOpacity"> <i class="fa fa-indent" aria-hidden="true"></i></button>
                                </div>
                                <div id="showFunctionReport" style="width: 100%;">
                                    <div class="demo-section k-content">
                                        @(Html.Kendo().DropDownTree()
                                                              .Name("treeFunctReport")
                                                              .DataTextField("FUNCNAME")
                                                              .HtmlAttributes(new { style = "width: 100%" })
                                                              .DataValueField("FUNCCODE")
                                                              .DataSource(dataSource => dataSource
                                                              .Model(m => m
                                                                          .Id("FUNCCODE")
                                                                          )
                                                                  .Read(read => read
                                                                      .Action("getFunctions", "DeptFunction")
                                                                  )
                                                              ).Filter("contains")
                                                              .Events(events => events
                                                                      .Select("onSelectdtreeFunctReport")
                                                              ).Value("000000")
                                        )
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label for="" class="col-sm-5  title-em-info">Func. Direct Report</label>
                        <div class="col-md-7">
                            <div class="form-em-col">
                                @*@Html.HiddenFor(model => model.FUNCDIRECTREPORT)*@
                                <div class="row">
                                    <div class="col-md-4" style="">        @* HIEUHT EDIT *@
                                        <div class="" style="width:100%;">
                                            @Html.TextBoxFor(model => model.FUNCDIRECTREPORT, "", new {@ondblclick = "openFunctionSearchEmployee()", @class = "form-control form-control-sm", style="height: 30px; font - size: smaller; width: 95px; margin - right:5px; background:#007bff38"})
                                            @*<input ondblclick="openFunctionSearchEmployee()" id="FUNCDIRECTSYSIDREPORT_Code" name="FUNCDIRECTSYSIDREPORT_Code" type="text" value="" class="form-control " style="height: 30px; font-size: smaller;width: 95px; margin-right:5px; background:#007bff38">*@
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(model => model.DISPLAYFUNCDIRECTREPORT, "", new { @class = "form-control form-control-sm", @disabled = "disabled" })
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group" style=" display: none">                   
                </div>                
            </div>
        </fieldset>
    </div>
    <div style="margin-left:10px;">
        <fieldset class="scheduler-border">
            <legend style="width: inherit; padding:0 10px; border-bottom: none">Skill Info</legend>
            <div class="em-info-block">
                <div class="form-group">
                    <div class="row">
                        @Html.LabelFor(model => model.POSITION, new { @class = "col-md-5 title-em-info" })
                        <div class="col-md-7">
                            @Html.DropDownListFor(model => model.POSITION, ViewBag.Positions as SelectList, new { disabled = "disabled", @readonly = "readonly", style = "width:100%; height: 30px; font-size: smaller; disable:true", @class = "form-em-info" })
                            @Html.ValidationMessageFor(model => model.POSITION)
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        @Html.LabelFor(model => model.SKILL, new { @class = "col-md-5 title-em-info" })
                        <div class="col-md-7">
                            @Html.DropDownListFor(model => model.SKILL, ViewBag.Skills as SelectList, new { disabled = "disabled", @readonly = "readonly",  style = "width:100%; height: 30px; font-size: smaller", @class = "form-em-info" })
                            @Html.ValidationMessageFor(model => model.SKILL)
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label class="col-md-5 title-em-info">Skill Level</label>
                        <div class="col-md-7">
                            <input type="text" class="form-em-info" disabled = "disabled"  style="width:100%; height: 30px; font-size: smaller" />
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>

</div>
@*}*@
<script>
    function onUploadImageSuccess(e, args) {
        console.log(e);
        let res = e.response;
        $('#emp_image').load('/Staff/EmployeeImage', { empid: res.sys_empid, img_url: res.img_url });
    }   
  
    $(document).ready(function () {
        $('#showOrganization').toggle();
        $(".region #showDeptCode").on("click", function () {
            $(".demo-section k-content").addClass("expandWidth");
            $('#showOrganization').toggle();
        });

        $('#showGeoReport').toggle();
        $(".region #btnShowGeoOrganizationReport").on("click", function () {
            $(".demo-section k-content").addClass("expandWidth");
            $('#showGeoReport').toggle();
        });


        $('#showFunctionReport').toggle();
        $(".region #btnShowFunctionDirectReport").on("click", function () {
            $(".demo-section k-content").addClass("expandWidth");
            $('#showFunctionReport').toggle();
        });
        //loadUsers();
    });
</script>

